<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
    <link name="base_Cam">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <box size="0.01 0.01 0.01"/>
                </geometry>
            </collision>    
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://p3dx_description_gazebo/meshes/kinect.dae" />
                </geometry>
            </visual>    
            <inertial>,
            
                <mass value="1e-5" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0"      izz="1e-6" />
            </inertial>
        </link>
        <joint name="Cam_joint" type="fixed">
            <axis xyz="0 1 0" />
            <origin xyz="0.12 0 0.28" rpy="0 0 0" />
            <parent link="base_link"/>
            <child link="base_Cam"/>
        </joint>
</robot>