<?xml version="1.0"?>
<!-- 
This is the xacro description of a Pioneer 3DX, to be used in rviz and gazebo.
Copyright (C) 2013 Rafael Berkvens rafael.berkvens@uantwerpen.be

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

This project is based on work by Tracy Davies, where it was in turn based on
work original in ucs-ros-pkg.
 -->
<robot name="pioneer3dx" 
	xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- import all gazebo-customization elements, including gazebo colors -->
	<!--<xacro:include filename="$(find p3dx_description_gazebo)/urdf/pioneer3dx.gazebo" />-->

	<!-- import the pioneer 3dx's wheels -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/pioneer3dx_wheel.xacro" />

	<!-- import imu -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/imu/imu.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/imu/imu.gazebo"/>

	<!-- import ground truth -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/groundTruth/groundTruth.gazebo"/>

	<!-- import odometry -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/odometry/odometry.gazebo"/>
	
	<!-- import LiDAR-->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/lidar/lidar.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/lidar/lidar.gazebo"/>

	<!-- import camera -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/camera/camera.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/camera/camera.gazebo"/>

	<!-- import sonar -->
	<!-- import sonar_1 -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/sonar/sonar_1.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/sonar/sonar_1.gazebo"/>
	<!-- import sonar_2 -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/sonar/sonar_2.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/sonar/sonar_2.gazebo"/>
	<!-- import sonar_3 -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/sonar/sonar_3.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/sensors/sonar/sonar_3.gazebo"/>

	<!-- import chassis -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/chassi/chassi.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/chassi/chassi.gazebo"/>

	<!-- import swivel -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/swivel/swivel.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/swivel/swivel.gazebo"/>

	<!-- import top_plate -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/top_plate/top_plate.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/top_plate/top_plate.gazebo"/>

	<!-- import center_hubcap -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/center_hubcap/center_hubcap.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/center_hubcap/center_hubcap.gazebo"/>

	<!-- import center_wheel -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/center_wheel/center_wheel.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/center_wheel/center_wheel.gazebo"/>

	<xacro:p3dx_wheel suffix="left" parent="base_link" reflect="-1"/>
	<xacro:p3dx_wheel suffix="right" parent="base_link" reflect="1"/>

	<!-- import front_sonar -->
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/front_sonar/front_sonar.xacro"/>
	<xacro:include filename="$(find p3dx_description_gazebo)/urdf/parts/front_sonar/front_sonar.gazebo"/>

</robot>
