<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
    <link name="front_sonar">
		<inertial>
			<mass value="0.0001" />
			<origin xyz="0 0 0" />
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0" />
			<geometry name="pioneer_geom">
				<mesh filename="package://p3dx_description_gazebo/meshes/front_sonar.stl" />
			</geometry>
			<material name="SonarYellow">
				<color rgba="0.715 0.583 0.210 1.0" />
			</material>
		</visual>
		<collision>
			<origin rpy="0 0 0" xyz="0 0 0" />
			<geometry>
				<box size="0.00001 0.00001 0.00001" />
			</geometry>
		</collision>
	</link>
	<joint name="base_front_joint" type="fixed">
		<origin rpy="0 0 0" xyz="0.109 0 0.209" />
		<parent link="base_link" />
		<child link="front_sonar" />
	</joint>
</robot>